MONGODB_URI=your_mongodb_uri_here
JWT_SECRET=your_jwt_secret_here
PORT=your_port_number_here
NODE_ENV=development
SMTP_HOST=your_smtp_host_here
SMTP_PORT=your_smtp_port_here
SMTP_USER=your_smtp_user_here
SMTP_PASS=your_smtp_password_here
ADMIN_EMAIL=your_admin_email_here